<div class="col-xs-12">
  
  <form class="form" action="../domain/advanced_search">
    <div class="col-xs-12">
      <input type="text" id="criteria" name="criteria">
    </div>
    <div class="col-xs-12">
    <label class="radio-inline">
      <input type="radio" name="field" id="inlineRadio1" value="owner"> Ownership Group
    </label>
    <label class="radio-inline">
      <input type="radio" name="field" id="inlineRadio2" value="project_name"> Project
    </label>
    <label class="radio-inline">
      <input type="radio" name="field" id="inlineRadio4" value="purchased_date"> Purchased Date
    </label>
    <label class="radio-inline">
      <input type="radio" name="field" id="inlineRadio3" value="expiration_date"> Expiration Date
    </label>
    <label class="radio-inline">
      <input type="radio" name="field" id="inlineRadio5" value="redirect_url"> Redirect URL
    </label>
    
    </div>
    <button class="btn btn-primary">Search<span class="glyphicon glyphicon-search"></span></button>
  </form>







</div>