<div class="col-xs-12 text-danger">
  <h3 >Delete <%= @domain.domain_name%>?</h3>
  <p>There is no going back from this, once you delete it all record of this domain will be erased. This should not be done, as this application is made to keep the history of domains so that future users may know where, when, and why a domain was purchased. If you made a mistake you can use the <%= link_to('edit page',{:action=>'edit',:id=>@domain.id})%></p>
  <%= link_to('Delete',{:action=>'destroy',:id =>@domain.id},:class=>'btn btn-danger')%>
  <%= link_to('Cancel',{:action=>'index'},:class=>'btn btn-success')%>
</div>