<div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
  <h3>Update</h3>
  <%= form_for(:domain, :url=>{:action=>'update', :id => @domain.id},:class=>"form") do |f| %>
    <%= render(:partial =>"form",:locals => {:f=>f}) %>
  
  <%= submit_tag("Update Domain",:class=>"btn btn-primary col-sm-4 col-sm-offset-4")%>
  
  <%end%>
  
</div>